[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"

[packages]
django = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
sorl-thumbnail = "*"
django-heroku = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.7"
