{% load static %}
{% load thumbnail %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">

  <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Custom css -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!-- Modernizer js -->
  <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>

  <!-- Title -->
  <title>{% block title %}JatYam Bookstore{% endblock title %}</title>
</head>

<body>
  <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

  <!-- Main wrapper -->
  <div class="wrapper" id="wrapper">

    <!-- Header -->
    <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
      <div class="container-fluid">
        <div class="row">

          <!-- logo -->
          <div class="col-md-4 col-sm-4 col-7 col-lg-2">
            <div class="logo">
              <a href="/">
                <img src="{% static 'images/logo/logo.png' %}" alt="logo images">
              </a>
            </div>
          </div>

          <!-- Main Menu -->
          <div class="col-lg-8 d-none d-lg-block">
            <!-- nav link menu -->
          </div>

          <!-- nav side user menu -->
          <div class="col-md-8 col-sm-8 col-5 col-lg-2">
            <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
              <li class="shop_search"><a class="search__active" href="#"></a></li>

              {% with total_items=wishlist|length %}
              <li class="wishlist">
                <a class="wishlistbox_active" href="#">
                  {% if total_items > 0 %}
                  <span class="product_qty">{{ total_items }}</span>
                  {% endif %}
                </a>
                <!-- Start Wishlist -->
                <div class="block-minicart miniwishlist__active">
                  <div class="minicart-content-wrapper">
                    <div class="miwishlist__close">
                      <span>close</span>
                    </div>
                    {% if wishlist|length > 0 %}
                    <div class="mini_action checkout">
                      <a class="checkout__btn" href="{% url 'wishlist:wishlist_detail' %}">Go to Wishlist</a>
                    </div>
                    <div class="single__items">
                      <div class="miniproduct">
                        <!-- single items -->
                        {% for item in wishlist %}
                        {% with product=item.product %}
                        <div class="item01 d-flex mt--20">
                          <div class="thumb">
                            <a href="{{ product.get_absolute_url }}">
                              {% if product.image %}
                              {% thumbnail product.image "75x94" crop="100%" as im %}
                              <img src="{{ im.url }}" alt="product img">
                              {% endthumbnail %}
                              {% else %}
                              <img src="{% static 'images/1.jpg' %}" alt="product img">
                              {% endif %}
                            </a>
                          </div>
                          <div class="content">
                            <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                            <span class="prize">RM{{ product.price }}</span>
                            <div class="product_prize d-flex justify-content-between">
                              {% if item.per_now > 0 %}
                              <span class="qun">{{ item.per_now }}</span>
                              {% elif item.per_now > 0 %}
                              <span class="qun">{{ item.per_now }}</span>
                              {% else %}
                              <span class="qun">(=)</span>
                              {% endif %}
                              <ul class="d-flex justify-content-end">
                                <li>
                                  <a class="cart-add" data-id="{{ product.id }}" href="#">
                                    <i class="bi bi-shopping-bag4"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="wishlist-remove" data-id="{{ product.id }}" href="#">
                                    <i class="zmdi zmdi-delete"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                      </div>
                    </div>
                    {% else %}
                    <div class="items-total d-flex justify-content-between">
                      <span>Your wishlist is empty.</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <!-- End Wishlist -->
              </li>
              {% endwith %}

              {% with total_items=cart|length %}
              <li class="shopcart">
                <a class="cartbox_active" href="#">
                  {% if total_items > 0 %}
                  <span class="product_qun">{{ total_items }}</span>
                  {% endif %}
                </a>
                <!-- Start Shopping Cart -->
                <div class="block-minicart minicart__active">
                  <div class="minicart-content-wrapper">
                    <div class="micart__close">
                      <span>close</span>
                    </div>
                    {% if cart|length > 0 %}
                    <div class="items-total d-flex justify-content-between">
                      <span>{{ total_items }} item{{ total_items|pluralize }}</span>
                      <span>Cart Subtotal</span>
                    </div>
                    <div class="total_amount text-right">
                      <span>RM{{ cart.get_total_price }}</span>
                    </div>
                    <div class="mini_action checkout">
                      <a class="checkout__btn" href="{% url 'cart:cart_detail' %}">Go to Checkout</a>
                    </div>
                    <div class="single__items">
                      <div class="miniproduct">
                        <!-- single items -->
                        {% for item in cart %}
                        {% with product=item.product %}
                        <div class="item01 d-flex mt--20">
                          <div class="thumb">
                            <a href="{{ product.get_absolute_url }}">
                              {% if product.image %}
                              {% thumbnail product.image "75x94" crop="100%" as im %}
                              <img src="{{ im.url }}" alt="product img">
                              {% endthumbnail %}
                              {% else %}
                              <img src="{% static 'images/1.jpg' %}" alt="product img">
                              {% endif %}
                            </a>
                          </div>
                          <div class="content">
                            <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                            <span class="prize">RM{{ item.price }}</span>
                            <div class="product_prize d-flex justify-content-between">
                              <span class="qun">Qty: {{ item.quantity }}</span>
                              <ul class="d-flex justify-content-end">
                                <!-- <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li> -->
                                <li>
                                  <a class="cart-remove" data-id="{{ product.id }}" href="#">
                                    <i class="zmdi zmdi-delete"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                      </div>
                    </div>
                    {% else %}
                    <div class="items-total d-flex justify-content-between">
                      <span>Your cart is empty.</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <!-- End Shopping Cart -->
              </li>
              {% endwith %}

              <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                <!-- account manage -->
              </li>
            </ul>
          </div>
        </div>
        <!-- Start Mobile Menu -->

        <!-- Mobile Menu -->

      </div>
    </header>
    <!-- //Header -->

    <!-- Start Search Popup -->
    <div class="box-search-content search_active block-bg close__top">
      {% if category %}
      <form id="search_mini_form" class="minisearch" action="{{ category.get_absolute_url }}">
        {% else %}
        <form id="search_mini_form" class="minisearch" action="{% url 'shop:product_list' %}">
          {% endif %}
          <div class="field__search">
            {{ search_form.query }}
            <div class="action">
              <button type="submit" class="link-btn"><i class="zmdi zmdi-search"></i></button>
            </div>
          </div>
        </form>
        <div class="close__wrap">
          <span>close</span>
        </div>
    </div>
    <!-- End Search Popup -->

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--6">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="bradcaump__inner text-center">
              {% block breadcrump %}
              {% endblock breadcrump %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Shop Content -->
    {% block content %}
    {% endblock content %}
    <!-- End Shop Content -->

    <!-- Footer Area -->
    <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
      <div class="footer-static-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

              <!-- footer -->
              <div class="footer__widget footer__menu">

                <!-- footer logo -->
                <div class="ft__logo">
                  <a href="/">
                    <img src="{% static 'images/logo/3.png' %}" alt="logo">
                  </a>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    duskam alteration variations of passages</p>
                </div>

                <!-- footer content -->
                <div class="footer__content">

                  <!-- social ft -->
                  <ul class="social__net social__net--2 d-flex justify-content-center">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-google"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                  </ul>

                  <!-- menu ft -->
                  <ul class="mainmenu d-flex justify-content-center">
                    <!-- menu -->
                  </ul>
                </div>
              </div>
              <!-- /footer -->
            </div>
          </div>
        </div>
      </div>

      <!-- copyright -->
      <div class="copyright__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="copyright">
                <div class="copy__right__inner text-left">
                  <p>Copyright <i class="fa fa-copyright"></i> <a href="https://freethemescloud.com/">Free themes
                      Cloud.</a> All Rights Reserved</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="payment text-right">
                <img src="{% static 'images/icons/payment.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //Footer Area -->

    <!-- QUICKVIEW PRODUCT -->
  </div>
  <!-- //Main wrapper -->

  <!-- JS Files -->
  <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/active.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken')

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
    }
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    })
    $(document).ready(function () {
      {% block domready %}
      {% endblock domready %}

      $('a.cart-remove').click(function (e) {
        e.preventDefault()
        $.post("{% url 'cart:cart_remove' %}", {
          id: $(this).data('id')
        }, function (data) {
          if (data['status'] == 'ok') {
            location.reload()
          }
        })
      })

      $('a.wishlist-remove').click(function (e) {
        e.preventDefault()
        $.post("{% url 'wishlist:wishlist_remove' %}", {
          id: $(this).data('id')
        }, function (data) {
          if (data['status'] == 'ok') {
            location.reload()
          }
        })
      })

      $('a.cart-add').click(function (e) {
        e.preventDefault()
        $.post("{% url 'cart:cart_add' %}", {
          id: $(this).data('id'),
          quantity: 1,
          update: "False"
        }, function (data) {
          if (data['status'] == 'ok') {
            location.reload()
          }
        })
      })

      $('a.wishlist-add').click(function (e) {
        e.preventDefault()
        $.post("{% url 'wishlist:wishlist_add' %}", {
          id: $(this).data('id')
        }, function (data) {
          if (data['status'] == 'ok') {
            location.reload()
          }
        })
      })
    })
  </script>

</body>

</html>
