{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block breadcrump %}
<h2 class="bradcaump-title">{{ product.name }}</h2>
<nav class="bradcaump-content">
  <a class="breadcrumb_item" href="/">Home</a>
  <span class="brd-separetor">/</span>
  <a class="breadcrumb_item" href="/">Products</a>
  <span class="brd-separetor">/</span>
  <span class="breadcrumb_item active">{{ product.name }}</span>
</nav>
{% endblock breadcrump %}

{% block content %}
<!-- Detail Page -->
<div class="maincontent bg--white pt--80 pb--55">
  <div class="container">
    <div class="row">

      <!-- details -->
      <div class="col-lg-9 col-12">

        <!-- Products Details -->
        <div class="wn__single__product">
          <div class="row">

            <!-- Images -->
            <div class="col-lg-6 col-12">
              <div class="wn__fotorama__wrapper">
                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                  <a href="#">
                    {% if product.image %}
                    {% thumbnail product.image "450x565" crop="100%" as im %}
                    <img src="{{ im.url }}" alt="product img">
                    {% endthumbnail %}
                    {% else %}
                    <img src="{% static 'images/1.jpg' %}" alt="product img">
                    {% endif %}
                  </a>
                  <!-- <a href="#">
                    <img src="{% static 'images/2.jpg' %}" alt="">
                  </a> -->
                  <!-- <a href="3.jpg"><img src="images/product/3.jpg" alt=""></a>
                  <a href="4.jpg"><img src="images/product/4.jpg" alt=""></a>
                  <a href="5.jpg"><img src="images/product/5.jpg" alt=""></a>
                  <a href="6.jpg"><img src="images/product/6.jpg" alt=""></a>
                  <a href="7.jpg"><img src="images/product/7.jpg" alt=""></a>
                  <a href="8.jpg"><img src="images/product/8.jpg" alt=""></a> -->
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="col-lg-6 col-12">
              <div class="product__info__main">
                <h1>{{ product.name }}</h1>
                <div class="product-reviews-summary d-flex">
                  <ul class="rating-summary d-flex">
                    <li><i class="zmdi zmdi-star-outline"></i></li>
                    <li><i class="zmdi zmdi-star-outline"></i></li>
                    <li><i class="zmdi zmdi-star-outline"></i></li>
                    <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                    <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                  </ul>
                </div>
                <div class="price-box">
                  <span>RM{{ product.price }}</span>
                </div>
                <div class="product__overview">
                  {{ product.description|linebreaks }}
                </div>

                <!-- Cart Form -->
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  <div class="box-tocart d-flex">
                    <span>Qty</span>
                    {{ cart_product_form.quantity }}
                    {{ cart_product_form.update }}
                    {% csrf_token %}
                    <div class="addtocart__actions">
                      <button class="tocart" type="submit" title="Add to Cart">Add to Cart</button>
                    </div>
                    <div class="product-addto-links clearfix">
                      <a class="wishlist" href="#" data-id="{{ product.id }}"></a>
                      <a class="compare" href="#"></a>
                    </div>
                  </div>
                </form>

                <div class="product_meta">
                  <span class="posted_in">Categories:
                    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                  </span>
                </div>

                <!-- Product share -->
                <div class="product-share">
                  <ul>
                    <li class="categories-title">Share :</li>
                    <li>
                      <a href="#">
                        <i class="icon-social-twitter icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-tumblr icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-facebook icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-linkedin icons"></i>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        <div class="shop__sidebar">

          <!-- Categories -->
          <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title">Product Categories</h3>
            <ul>
              <li>
                <a {% if not category %}class="selected" {% endif %} href="{% url 'shop:product_list' %}">All</a>
              </li>

              {% for c in categories %}
              <li>
                <a {% if category.slug == c.slug %}class="selected" {% endif %}
                  href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </aside>

          <!-- price filter -->

          <!-- product tags -->

          <!-- product showcase -->

        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Detail Page -->
{% endblock content %}

{% block domready %}
  $('a.wishlist').click(function (e) {
    e.preventDefault()
    $.post("{% url 'wishlist:wishlist_add' %}", {
      id: $(this).data('id')
    }, function (data) {
      if (data['status'] == 'ok') {
        location.reload()
      }
    })
  })
{% endblock domready %}
